<link
rel="stylesheet"

href="{{url_for(
'static',
filename='style.css'
)}}">
<h1 class="edit-title">

Edit Student

</h1>

<div class="edit-card">

<form method="POST">

Name

<input
name="name"
value="{{student.name}}">

<br><br>

Course

<input
name="course"
value="{{student.course}}">

<br><br>

Batch

<select
name="batch">

{% for b in batches %}

<option
value="{{b}}"

{% if b==student.batch_time %}

selected

{% endif %}

>

{{b}}

</option>

{% endfor %}

</select>

<br><br>

PC

<select
name="pc">

{% for x in range(1,6) %}

<option
value="{{x}}"

{% if x==student.computer_no %}

selected

{% endif %}

>

PC {{x}}

</option>

{% endfor %}

</select>

<br><br>

<div class="days-section">

<label>Days</label>

<div class="schedule-options">

<label class="schedule-card">

<input
type="radio"
name="schedule"
onclick="setMWF()">

<span>📅 MWF</span>

</label>

<label class="schedule-card">

<input
type="radio"
name="schedule"
onclick="setTTS()">

<span>📅 TTS</span>

</label>

<label class="schedule-card">

<input
type="radio"
name="schedule"
onclick="setDaily()">

<span>⚡ Daily</span>

</label>

</div>

</div>

<br><br>

<input
hidden
name="days"
id="days">

<button>

Save

</button>

</form>

</form>

</div>


<script>

function setMWF(){

document
.getElementById(
"days"
)
.value=

"Monday,Wednesday,Friday"

}

function setTTS(){

document
.getElementById(
"days"
)
.value=

"Tuesday,Thursday,Saturday"

}

function setDaily(){

document
.getElementById(
"days"
)
.value=

"Monday,Tuesday,Wednesday,Thursday,Friday,Saturday"

}

</script>