<link
rel="stylesheet"

href="{{url_for(
'static',
filename='style.css'
)}}">
<h1>Institute Dashboard</h1>

<div class="menu-container">

<button
class="menu-btn"
onclick="toggleMenu()">

☰ Menu

</button>

<div
id="dropdown"
class="dropdown-menu">

<a href="/add">

➕ Add Student

</a>

<a href="/pcs">

💻 PC Status

</a>

<a href="/calendar">

📅 Calendar

</a>

<a href="/logout">

🚪 Logout

</a>

</div>

</div>


<div

style="

display:flex;

align-items:center;

justify-content:space-between;

gap:20px;

flex-wrap:wrap;

"

>

<!-- LEFT SIDE -->

<div

style="

display:flex;

gap:20px;

align-items:center;

"

>

<div class="stat-card">

Total Students

<h2>{{total_students}}</h2>

</div>

<div class="stat-card">

Active Batches

<h2>{{active_batches}}</h2>

</div>

<div class="stat-card">

MWF Seats

<h2>{{mwf_left}}</h2>

</div>

<div class="stat-card">

TTS Seats

<h2>{{tts_left}}</h2>

</div>

<div class="stat-card">

Total Capacity

<h2>{{total_left}}</h2>

</div>

</div>


<!-- RIGHT SIDE SEARCH -->

<form

method="POST"

action="/"

style="

display:flex;

align-items:center;

gap:8px;

"

>

<input

name="search"

placeholder="Search Student"

value="{{search}}"

style="

width:180px;

height:44px;

padding:0 18px;

border:none;

border-radius:16px;

background:rgba(255,255,255,.08);

color:white;

"

>

<button

style="

width:58px;

height:44px;

border:none;

border-radius:16px;

background:

linear-gradient(

135deg,

#8b5cf6,

#2563eb

);

display:flex;

align-items:center;

justify-content:center;

padding:0;

margin:0;

line-height:1;

box-sizing:border-box;

cursor:pointer;

position:relative;

top:-1px;

"

>

🔍

</button>


<a

href="/"

style="

width:44px;

height:44px;

display:flex;

align-items:center;

justify-content:center;

background:#ff3b5c;

border-radius:16px;

text-decoration:none;

font-size:20px;

color:white;

"

>

✖

</a>

</form>


</div>

<br>

<hr>
<div
style="
display:flex;
gap:25px;
align-items:flex-start;
margin-top:25px;
flex-wrap:wrap;
">




<!-- MWF -->

<div
class="table-box"
style="flex:1;min-width:500px;">

<h2>

📅 MWF Students

</h2>

<table>

<tr>

<th>Name</th>

<th>Course</th>

<th>Batch</th>

<th>PC</th>

<th>Action</th>

</tr>

{% for s in students %}

{% if
"Monday" in s.days
and
"Wednesday" in s.days
and
"Friday" in s.days
and
"Tuesday" not in s.days
%}

<tr>

<td>{{s.name}}</td>

<td>{{s.course}}</td>

<td>{{s.batch_time}}</td>

<td>PC {{s.computer_no}}</td>

<td>

<div
class="action-buttons">

<a
class="edit-btn"
href="/edit/{{s.id}}">

✏ Edit

</a>

<a
href="#"
class="delete-btn"
onclick="confirmDelete(event,'{{s.id}}','{{s.name}}')"
>

🗑 Delete

</a>

</div>

</td>

</tr>

{% endif %}

{% endfor %}

</table>

</div>


<!-- TTS -->


<div
class="table-box"
style="flex:1;min-width:500px;">

<h2>

📅 TTS Students

</h2>

<table>

<tr>

<th>Name</th>

<th>Course</th>

<th>Batch</th>

<th>PC</th>

<th>Action</th>

</tr>

{% for s in students %}

{% if
"Tuesday" in s.days
and
"Thursday" in s.days
and
"Saturday" in s.days
and
"Monday" not in s.days
%}

<tr>

<td>{{s.name}}</td>

<td>{{s.course}}</td>

<td>{{s.batch_time}}</td>

<td>PC {{s.computer_no}}</td>

<td>

<div
class="action-buttons">

<a
class="edit-btn"
href="/edit/{{s.id}}">

✏ Edit

</a>

<a
href="#"
class="delete-btn"
onclick="confirmDelete(event,'{{s.id}}','{{s.name}}')"
>

🗑 Delete

</a>

</div>

</td>

</tr>

{% endif %}

{% endfor %}

</table>

</div>

</div>

<div
class="table-box"
style="margin-top:25px;">

<h2>

⚡ Daily Students

</h2>

<table>

<tr>

<th>Name</th>

<th>Course</th>

<th>Batch</th>

<th>PC</th>

<th>Action</th>

</tr>

{% for s in students %}

{% if
"Monday" in s.days
and
"Tuesday" in s.days
%}

<tr>

<td>{{s.name}}</td>

<td>{{s.course}}</td>

<td>{{s.batch_time}}</td>

<td>PC {{s.computer_no}}</td>

<td>

<div
class="action-buttons">

<a
class="edit-btn"
href="/edit/{{s.id}}">

✏ Edit

</a>

<a
href="#"
class="delete-btn"
onclick="confirmDelete(event,'{{s.id}}','{{s.name}}')"
>

🗑 Delete

</a>

</div>

</td>

</tr>

{% endif %}

{% endfor %}

</table>

</div>

<div id="deleteModal" class="modal">

<div class="modal-box">

<h2>⚠ Confirm Delete</h2>

<p id="studentText"></p>

<div class="modal-buttons">

<button
class="cancel-btn"
onclick="closeModal()">

Cancel

</button>

<button
class="confirm-btn"
id="deleteLink">

Delete

</button>

</div>

</div>

</div>

<script>

function toggleMenu(){

let menu=

document.getElementById(
"dropdown"
)

menu.style.display=

menu.style.display=="block"

?

"none"

:

"block"

}


document.addEventListener(

"click",

function(event){

let menu=

document.getElementById(
"dropdown"
)

let button=

document.querySelector(
".menu-btn"
)

if(

!menu.contains(

event.target

)

&&

!button.contains(

event.target

)

){

menu.style.display=

"none"

}

}

)

</script>


<script>

function confirmDelete(e,id,name){

e.preventDefault()

document.getElementById(

"studentText"

).innerHTML=

"Delete <b>"+name+

"</b>?<br><br>This cannot be undone."

document.getElementById(

"deleteLink"

).onclick=function(){

window.location="/delete/"+id

}

document.getElementById(

"deleteModal"

).style.display="flex"

}

function closeModal(){

document.getElementById(

"deleteModal"

).style.display="none"

}

</script>