<link
rel="stylesheet"
href="{{url_for('static',filename='style.css')}}"
>

<div class="login-page">

<div class="login-left">

<h1>

Vista Educare

</h1>

<p>

Student Batch Management System

</p>

<div class="features">

<div>📚 Batch Management</div>

<div>💻 PC Allocation</div>

<div>📅 Calendar System</div>

<div>📊 Dashboard Analytics</div>

</div>

</div>

<div class="login-box">

<h2>

Login

</h2>

<form method="POST">

<input
name="username"
placeholder="Username"
required
>

<input
type="password"
name="password"
placeholder="Password"
required
>

<button>

Login

</button>

</form>

{% if error %}

<p class="error">

{{error}}

</p>

{% endif %}

</div>

</div>