<link
rel="stylesheet"
href="{{url_for('static',filename='style.css')}}"
>
<body>
    
    <style>
        
        input{

            color:#111827 !important;

font-weight:600;

}

input::placeholder{

color:#6b7280 !important;

opacity:1;

}

input:focus{
    
    color:#000 !important;
    
}

</style>
</body>

<div class="login-page">

<div class="login-left">

<h1>

Vista Educare

</h1>

<p>

Student Batch Management System

</p>

<div class="features">

<div>📚 Batch Management</div>

<div>💻 PC Allocation</div>

<div>📅 Calendar System</div>

<div>📊 Dashboard Analytics</div>

</div>

</div>

<div class="login-box">

<h2>

Login

</h2>

<form method="POST">

<input
name="username"
placeholder="Username"
required
>

<div class="password-wrapper">

<input
type="password"
name="password"
id="password"
placeholder="Password"
required>

<span
class="toggle-pass"
onclick="togglePassword()">

<span
id="eye-open">

👁️

</span>

<span
id="eye-close"
style="display:none;">

🙈

</span>

</span>

</div>

<button>

Login

</button>

</form>

{% if error %}

<p class="error">

{{error}}

</p>

{% endif %}

</div>

</div>

<script>

function togglePassword(){

let pass=

document.getElementById(
"password"
)

let openEye=

document.getElementById(
"eye-open"
)

let closeEye=

document.getElementById(
"eye-close"
)

if(

pass.type==="password"

){

pass.type="text"

openEye.style.display=

"none"

closeEye.style.display=

"inline"

}

else{

pass.type="password"

openEye.style.display=

"inline"

closeEye.style.display=

"none"

}

}

</script>