<link
rel="stylesheet"

href="{{url_for(
'static',
filename='style.css'
)}}">

<h1>

Computer Occupancy

</h1>

<a
href="/"
class="dashboard-btn">

🏠 Dashboard

</a>

<hr>

{% for batch in data %}

<h2>

{{batch.batch}}

</h2>

<div

style="

display:flex;

gap:20px;

flex-wrap:wrap;

margin-bottom:30px;

"

>

{% for pc in batch.pcs %}

<div

class="pc-card
{{'free' if pc.free else 'occupied'}}"

style="

background:
{{ '#2ecc71' if pc.free else '#e74c3c' }};

"

>

💻 PC {{pc.pc}}

<br><br>

{% if pc.free %}

Available

{% else %}

{{pc.name}}

{% endif %}

</div>

{% endfor %}

</div>

{% endfor %}